@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    border: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
}

header {
    width: 100;
    color: rgb(169, 116, 25);
    text-align:center;
    background-color: #393631;
    padding: 16px 16px 0px 16px;
    margin: auto rgb(169, 116, 25);
    box-shadow: 0px 10px 20px black;
    & p {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 20px;
    }
}

main {

    background-color: rgba(234, 171, 112, 0.618);
    flex: 1px;
}


.container-sm {
    width: 500px;
    min-width: 40%;
    height: 500px; 
    background-color: #393631;
    border-radius: 10px 10px 10px 10px ;
    display: flex;
    justify-content: space-around;
    color: #F7F0F0;
    margin: 20px auto;
    padding: 12px;
    box-shadow: 7px 12px 10px rgba(0, 0, 0, 0.623);;
}

.sobre {
    text-align: left;
    color: rgba(255, 255, 255, 0.456);
    padding: 10px;
    & img {
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid rgb(169, 116, 25);
    }
    & h2 {
        padding-top: 13px;
    }
    & p {
        text-align: left;
        margin: auto;
    }
}

#meusdados {
    padding-top: 10px;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


footer {
    width: 100%;
    padding: 3px;
    text-align: center;
    background-color: #393631;
    & p {
        color: rgb(169, 116, 25);
        margin: 0px;
        border: 0px;
    }
    
}

.links {
    text-align: center;
    align-items: center;
    margin: auto;
    object-fit: cover;
    padding-top: 1px;

    & a {
        padding: 15px;
    }

}

.logo {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
}

.hover-palavra {
transition: color 0.3s ease;
cursor: default;
padding: 0 2px;
}

.hover-palavra:hover {
color: rgb(255, 127, 227);
}